*,
*::before,
*::after {
  border: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "ToyotaType-Regular";
  src: url("./fonts/TOYOTATYPE-REGULAR.TTF") format("truetype");
}

@font-face {
  font-family: "ToyotaType-Light";
  src: url("./fonts/TOYOTATYPE-LIGHT.TTF") format("truetype");
}

@font-face {
  font-family: "ToyotaType-Semibold";
  src: url("./fonts/TOYOTATYPE-SEMIBOLD.TTF") format("truetype");
}

@font-face {
  font-family: "ToyotaType-Book";
  src: url("./fonts/TOYOTATYPE-SEMIBOLD.TTF") format("truetype");
}

label {
  display: none;
}

h3 {
  display: block;
  font-size: 1.17em;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}

video {
  display: block;
  object-fit: cover;
  width: 100vw;
  height: 100vh;
}

input {
  outline: none;
}

#dealership-select:disabled {
  opacity: 0.5;
}

.landing {
  height: 100vh;
  width: 100vw;
}

/* .phone-number {
    float: right;
    position: relative;
} */

/***** COUNTDOWN *****/

.main-countdown {
  height: 100vh;
  position: relative;
  width: calc(100vw - 28.125vw);
}

.container-logo-countdown {
  display: block;
  left: 52.5%;
  position: absolute;
  /* -webkit-transform: translate(-50%,0);
    -moz-transform: translate(-50%,0);
    -o-transform: translate(-50%,0);
    -ms-transform: translate(-50%,0); */
  transform: translate(-50%, 0);
  top: 4.166666666666666vw;
  /* width: 34.63541666666667vw; */
}

.container-countdown h2 {
  text-transform: uppercase;
  color: #fff;
  font-family: "ToyotaType-Book";
  /* font-size: .8854166666666666vw; */
  font-style: italic;
  font-weight: bolder;
  /* margin-top: 2.083333333333333vw; */
  text-align: center;
}

#countdown {
  margin: 0 auto;
  text-align: center;
}

#countdown li {
  color: #fff;
  display: inline-block;
  /* font-size: 1em; */
  list-style-type: none;
  padding: 1em;
  font-family: "ToyotaType-Light";
}

#countdown li span {
  display: block;
  font-size: 2.2rem;
  font-family: "ToyotaType-Light";
  border-bottom: 1px solid #fff;
  padding-bottom: 15px;
  text-align: center;
  margin-bottom: 10px;
  width: 80px;
}

#video-mobile {
  display: none;
}

.button-open-form {
  display: none;
}

/***** FORM *****/

.main-form {
  z-index: 100;
  -webkit-box-align: center;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  height: 100%;
  padding: 0 4.166666666666666vw;
  position: fixed;
  /* right: 0; */
  bottom: 2vh;
  top: 0;
  right: 15px;
  width: 28.125vw;
  margin-right: 15px;
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 3vw;
  padding-top: 3vw;
}

.button-close {
  display: none;
}

.form-container h3 {
  color: #fff;
  font-family: "ToyotaType-Regular";
  font-weight: lighter;
  font-style: italic;
  letter-spacing: 0.05vw;
  /* line-height: 1.5vw; */
  margin-bottom: 2.4vw;
  margin-right: 0.5vw;
}

.form-container .field::placeholder {
  color: #fff;
}

.form-container .email {
  background: url(../images/Icono\ Candado.png) calc(100% - 17px) 50% no-repeat
    transparent;
  background-size: 16px 20px;
}

.form-container .field,
.form-container select {
  -webkit-appearance: none;
  background-color: transparent;
  border: 1px solid #fff;
  border-radius: 0;
  color: #fff;
  font-family: "ToyotaType-Regular";
  width: 100%;
  font-size: 0.78125vw;
  height: 2.34375vw;
  letter-spacing: 1px;
  margin-bottom: 0.78125vw;
  padding: 0 0.78125vw;
}

select option {
  color: #fff;
  background-color: #191919;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100px !important;
}

.form-container select {
  appearance: none;
  background: url(../images/ico-arrow-down.png) calc(100% - 17px) 50% no-repeat
    transparent;
  background-size: 14px 7px;
  /* background-size: .7291666666666666vw .3645833333333333vw; */
  border: 1px solid #fff;
  border-radius: 0;
  color: #fff;
  font-family: "ToyotaType-Regular";
  /* font-size: .78125vw;
    height: 2.34375vw;
    letter-spacing: 1px;
    margin-bottom: .78125vw; */
  outline: 0;
  /* padding: 0 .78125vw; */
  width: 100%;
}

.form-container .checkbox {
  width: 1.3em;
  height: 1.1em;
  background-color: transparent;
  border-radius: 50%;
  margin-top: 1rem;
  border: 1px solid #ddd;
  -webkit-appearance: none;
  outline: none;
  cursor: pointer;
}

.form-container .checkbox:checked {
  background-color: #e81527;
}

.checkbox-label {
  margin-top: 50px;
  color: #fff;
  display: inline-block;
  font-family: "ToyotaType-Light";
  font-size: 0.78125vw;
  letter-spacing: 1px;
}

.phone-number-fields {
  display: flex;
  justify-content: space-between;
}

.area-code {
  width: 34% !important;
}

.phone-number {
  width: 65% !important;
}

.checkbox-label a {
  color: #fff;
}

.form-button button {
  background: url(../images/ico-arrow-right.png) calc(100% - 30px) 50% no-repeat
    #e81527;
  background-size: 1.40625vw 0.78125vw;
  color: #fff;
  cursor: pointer;
  font-family: "ToyotaType-Semibold";
  font-size: 0.8333333333333334vw;
  height: 3.385416666666667vw;
  padding-left: 1.5625vw;
  text-align: left;
  text-transform: uppercase;
  width: 100%;
  margin-top: 1vw;
}

@media only screen and (max-width: 1366px) {
  /***** COUNTDOWN *****/

  .container-logo-countdown {
    top: 70px;
    /* width: 34.63541666666667vw; */
  }
  .main-countdown {
    width: calc(100vw - 400px);
  }

  .container-countdown h2 {
    font-size: 1.464128843338214vw;
    margin-top: 1.464128843338214vw;
  }

  #countdown {
    width: 50vw;
  }

  #countdown li {
    /* font-size: 1.125rem; */
    padding: 0.75rem;
    font-size: 1rem;
    padding: 0.75;
  }

  #countdown li span {
    width: 60px;
    font-size: 2rem;
    width: 70px;
    padding-bottom: 10px;
  }

  /***** FORM *****/
  .main-form {
    padding: 0 55px;
    width: 385px;
    margin-right: 0;
  }
  .form-container .field,
  .form-container select {
    font-size: 11px;
    height: 32px;
    margin-bottom: 10px;
    padding: 0 15px;
  }
  .form-button button {
    background-size: 27px 15px;
    font-size: 11px;
    height: 46px;
    padding-left: 20px;
    margin-top: 20px;
  }
  .form-container .checkbox {
    width: 1.3em;
    height: 0.9rem;
  }
  .checkbox-label {
    font-size: 11px;
  }
}

@media only screen and (max-width: 770px) {
  /***** COUNTDOWN *****/
  .main-countdown {
    height: 100vh;
    position: relative;
    width: 100%;
  }

  #video-mobile {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
  }
  #video-desktop {
    display: none;
  }
  .container-logo-countdown {
    top: 50px;
    width: 500px;
    left: 47%;
  }
  .container-countdown h2 {
    margin-top: 25px;
    font-size: 22px;
  }

  #countdown {
    width: 100%;
  }

  #countdown li {
    font-size: 1.125rem;
    padding: 0.75rem;
    /* font-size: 1.125rem; */
    font-size: 14px;
    padding: 0.75;
  }

  #countdown li span {
    width: 60px;
    font-size: 2.5rem;
    width: 70px;
    padding-bottom: 10px;
  }

  .button-open-form {
    bottom: 0;
    display: block;
    left: 0;
    position: fixed;
    right: 0;
    z-index: 50;
  }
  .button-open-form button {
    background: url(../images/ico-arrow-right.png) calc(100% - 20px) 50%
      no-repeat #e81527;
    background-size: 27px 15px;
    color: #fff;
    cursor: pointer;
    font-family: "ToyotaType-Semibold";
    font-size: 14px;
    height: 50px;
    padding-left: 20px;
    text-align: left;
    text-transform: uppercase;
    width: 100%;
  }

  /***** FORM *****/

  .main-form {
    background-color: #000;
    bottom: 0;
    display: none;
    height: 100vh;
    left: 0;
    overflow: auto;
    padding: 0 40px;
    right: 0;
    top: 0;
    width: 100vw;
    z-index: 100;
  }
  .button-close {
    background: url(../images/btn-close.png) center no-repeat;
    background-size: cover;
    display: block;
    height: 38px;
    position: fixed;
    right: 15px;
    text-indent: -999999px;
    top: 15px;
    width: 38px;
  }
  .form-container {
    padding-bottom: 0;
    padding-top: 80px;
  }
  .form-container h3 {
    font-size: 15px;
    letter-spacing: 1px;
    line-height: 24px;
    margin-bottom: 35px;
    margin-right: 0;
  }
  .form-container .field,
  .form-container select {
    -webkit-appearance: none;
    font-size: 15px;
    height: 45px;
    letter-spacing: 1px;
    margin-bottom: 10px;
    outline: 0;
    padding: 0 15px;
  }
  /* .form-container select {

    } */
  /* .form-container .checkbox {
        display: none;
    } */
  /* .form-container .checkbox-label::before {
        height: 16px;
        margin-right: 5px;
        margin-top: 3px;
        width: 16px;
    } */
  .checkbox-label {
    font-size: 15px;
  }
  .form-button button {
    background-size: 27px 15px;
    font-size: 16px;
    height: 55px;
    padding-left: 30px;
    margin-bottom: 80px;
  }
}

@media only screen and (max-width: 600px) {
  .container-logo-countdown {
    top: 34px;
    width: 100%;
    left: 50%;
  }
  .container-countdown {
    padding: 0 50px;
  }
  .container-countdown h2 {
    font-size: 18px;
  }
  #countdown li {
    font-size: 12px;
  }

  #countdown li span {
    width: 60px;
    font-size: 1.8rem;
    padding-bottom: 8px;
    /* letter-spacing: 0.5rem; */
  }
}

/***** Error messages ****/

label.error {
  display: block;
  color: red;
  margin: 3px 0;
  font-family: "ToyotaType-Regular";
  font-size: 10px;
  /* display: block; */
}

.field.error,
select.error,
#privacy_policy.error {
  border-color: red;
  margin-bottom: 0;
}

/***** MODAL *****/

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
